.descriptionContainer {
  width: 1280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 56px;
}

.description {
  font-size: 24px;
}

.rightLayout {
  display: flex;
  flex-direction: column;
}

.btnLayout {
  text-align: right;
  margin-top: 16px;
}
