.divider {
  border: none;
  border-top: 2px solid black;
  margin: 48px;
}

.dogImagesContainer {
  display: flex;
  justify-content: center;
}

.dogImages {
  width: 1280px;
  display: grid;
  justify-items: center;
  gap: 16px 40px;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-top: 72px;
}

.dogImg {
  width: 400px;
  height: 300px;
}
